.logo{
    width: 50px;
    height: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

nav ul{
    display: flex;
}

nav ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
}

h1{
    color:blue;
    font-size: 42px;
}